
# Ignore the target directory
/target

# Ignore any files with .env extension
*.env

# Do not ignore the example.env file
!example.env

# Ignore the Config.toml file
Config.toml

# Ignore the service account key file
service_account_key.json
